/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */

/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* ALLE PAGES *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


/************************* INDEX.HTML *************************/


header {
   width: 1000px;
   height: 125px;
   background-color: #ace4b0;
   font-family: georgia;
   font-size: 20pt;
   color: #33040d;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}

nav {
   width: 996px;
   height: 75px;
   border: 2px solid;
   border-color: #ace4b0;
   background-color: #ffffff;
   font-family: georgia;
   font-size: 15pt;
   color: #1f001f;
   display: inline-block;
   line-height: 50px;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}

nav :hover {
   color: #f4dddb;
}

footer {
   width: 970px;
   height: 70px;
   background-color: #ace4b0;
   border: 15px solid;
   border-color: #f4dddb;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 12pt;
   color: #1f001f;
   text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
}

footer a:hover{
   color: white;
}

a {
   text-decoration: none;
   color: #1f001f;
}


nav a {
   padding-left: 10px;
   padding-right: 10px;
   text-decoration: none;
}


#wrapper {
   width: 1000px;
   margin: auto;
   background-color: #f4dddb;
}


#indexfoto {
   display: flex;
   flex-grow: 1;
   padding: 10px;
}

#indexfoto img {
   width: 400px;
   height: 532px;
   border: 4px solid;
   border-color: #ace4b0;
   margin: 0 25px;
   margin-top: 25px;
}



#indexfoto p {
   width: 350px;
   height: 266px;
   padding: 10px;
   padding-left: 35px;
   margin: 2px;
   background-color: #f4dddb;
   font-family: georgia;
   font-size: 13pt;
   color: #1f001f;
   flex-grow: 1;
   line-height: 1.5;
   text-align: justify;
}

#indexfoto h2 {
   font-family: georgia;
   font-size: 18pt;
   color: #1f001f;
   text-align: center;
   padding-top: 15px;
}



body {
   background-color: white;
   width: 1000px;
}


#recepten img {
   width: 400px;
   height: 532px;
   border: 4px solid;
   border-color: #ace4b0;
   margin: 0 25px;
   margin-top: 25px;
   display: flex;
   margin-bottom: 20px;
}

#receptentekst h1 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#receptentekst p {
   width: 300px;
   flex-grow: 1;
   padding: 10px;
   font-size: 12pt;
   font-family: georgia;
   color: #33040d;
   background-color: #f4dddb;
   text-align: justify;
}
#receptentekst h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}


#recepten table {
   width: 250px;
   background-color: white;
   color: #33040d;
}


#receptentekst {
   display: flex;
   flex-direction: column;
   background-color: #f4dddb;
   padding-left: 100px;
}

#recepten {
   display: flex;
   flex-grow: 1; 
   background-color: #f4dddb;
}



#stappenplan ol {
   line-height: 2;
   color: #33040d;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 12pt;
   width: 800px;
}

#stappenplan h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: left;
   margin-top: 10px;
   font-family: georgia;
   color: #1f001f;
}

#stappenplan p {
   color: #33040d;
   font-family: georgia;
   font-size: 12pt;
}

#stappenplan {
   margin-left: 35px;
   background-color: #f4dddb;
   height: 400px;
}

#webshop {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 600px;
}

#eten {
   display: flex;
   margin: 25px;
   width: 200px;
   flex-direction: column;
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 30px;
   height: 600px;
}

#eten img {
   height: 256px;
   width: 200px;
   border: 2px solid;
   border-color: #ace4b0;
}

#eten p {
   color: #33040d;
   font-size: 12pt;
   font-family: georgia;
   background-color: #f4dddb;
   text-align: center;
}

#eten h2 {
   color: #1f001f;
   font-size: 16pt;
   font-family: georgia;
   text-align: center;
}

#webshoptekst h1 {
   color: #1f001f;
   font-size: 15pt;
   font-family: georgia;
   text-align: center;
}

#webshoptekst p {
   color: #33040d;
   font-size: 14pt;
   font-family: georgia;
   text-align: justify;
   padding-inline: 15px;
}

#webshoptekst {
   width: 1000px;
   height: 100px;
   line-height: 1,2;
   margin-bottom: 30px;
}

#eten a:hover {
   color:#ffffff;
}

#contact {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 700px;
   width: 1000px;
}

#contactfototekst {
   display: flex;
   flex-direction: column;
   width: 260px;
   margin-left: 100px;
}

#contact1 {
   width: 300px;
   justify-content: center;
   align-items: center;
   padding-right: 100px;
   padding-bottom: 50px;
}

#contact1 h1 {
   font-size: 16pt;
   font-family: georgia;
   color: #1f001f;
   width: 250px;
}

#contact1 h2 {
   font-size: 15pt;
   font-family: georgia;
   color: #1f001f;
   width: 250px;
}

#contact1 p {
   font-size: 12pt;
   font-family: georgia;
   color: #33040d;
   text-align: justify;
   line-height: 1,6;
}

#contact1 a:hover {
   color: white;
}

#contactfototekst img {
   border: 2px solid;
   border-color: #ace4b0;
   width: 260px;
   height: 460px;
}

#contactfototekst p {
   font-size: 12pt;
   font-family: georgia;
   color: #33040d;
   text-align: justify;
}

#contactfototekst h2 {
   font-size: 15pt;
   font-family: georgia;
   color: #1f001f;
   width: 260px;
   text-align: center;
}
/* float: wij hebben geen float maar flexboxen gebruikt, omdat we daar meer mee kunnen.