/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* ALLE PAGES *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


/************************* INDEX.HTML *************************/


.cafe {
   width: 888px;
   margin: 50px;
   border: 10px;
   border-color: #aceb40;
   align-self: center;
}

#wrapper {
   width: 1000px;
   margin: auto;
   background-color: #f4dddb;
}


#kaneelrollen {
   width: 396px;
   height: 200px;
   border: 2px;
   border-color: #aceb40;
   position: fixed;
}

#articleindex {
   width: 900px;
   height: 300px;
   padding: 10px;
   margin: 50px;
   background-color: #f4dddb;
   font-family: georgia;
   font-size: 12pt;
   color: #1f001f;
}

#articleindex.h2 {
   font-family: georgia;
   font-size: 16pt;
   color:#1f001f;
   text-align: center;
}

header {
   width: 970px;
   padding: 10px;
   height: 125px;
   background-color: #f4dddb;
   text-align: center;
   font-family: georgia;
   font-size: 20pt;
   color: #33040d;
}

nav {
   width: 996px;
   height: 75px;
   border: 2px;
   border-color: #ace4b0;
   background-color: #f4dddb;
   font-family: georgia;
   font-size: 15pt;
   color: #1f001f;
   text-align: center;
   padding: 12px;
   display: inline-block;
   text-decoration: none;
   line-height: 50px;
}

nav :hover {
   color: #f4dddb;
}