/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */

/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* ALLE PAGES *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


/************************* INDEX.HTML *************************/


.cafe {
   width: 400px;
   margin: 50px;
   border: 10px solid;
   border-color: #ace4b0;
   align-self: center;
}

#wrapper {
   width: 1000px;
   margin: auto;
   background-color: #f4dddb;
}



#articleindex p {
   width: 300px;
   height: 266px;
   padding: 10px;
   margin: 50px;
   background-color: #f4dddb;
   font-family: georgia;
   font-size: 12pt;
   color: #1f001f;
   flex-grow: 1;
   line-height: 1.5;
}

#articleindex h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   padding-top: 10px;
}

header {
   width: 1000px;
   height: 125px;
   background-color: #ace4b0;
   font-family: georgia;
   font-size: 20pt;
   color: #33040d;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}

nav {
   width: 996px;
   height: 75px;
   border: 2px solid;
   border-color: #ace4b0;
   background-color: #ffffff;
   font-family: georgia;
   font-size: 15pt;
   color: #1f001f;
   display: inline-block;
   line-height: 50px;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}

nav :hover {
   color: #f4dddb;
}

footer {
   width: 970px;
   height: 70px;
   background-color: #ace4b0;
   border: 15px solid;
   border-color: #f4dddb;
   font-family: Times New Roman;
   font-size: 15pt;
   color: #1f001f;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
}

a {
   text-decoration: none;
   color: #1f001f;
}

nav a {
   padding-left: 10px;
   padding-right: 10px;
   text-decoration: none;
}

#indexfoto {
   display: flex;
   flex-grow: 1;
   padding: 10px;

}

#indexfoto img {
   width: 400px;
   height: 532px;
   border: 4px solid;
   border-color: #ace4b0;
   margin: 0 25px;
   margin-top: 25px;
}

body {
   background-color: #f4dddb;
   width: 1000px;
}

#cremebrulee img {
   width: 400px;
   height: 532px;
   border: 4px solid;
   border-color: #ace4b0;
   margin: 0 25px;
   margin-top: 25px;
}

#tiramisu img {
   width: 400px;
   height: 496px;
   border: 4px solid;
   border-color: #ace4b0;
   margin: 0 25px;
   margin-top: 25px;
}

#kaneelrollen img {
   width: 400px;
   height: 532px;
   border: 4px solid;
   border-color: #ace4b0;
   margin: 0 25px;
   margin-top: 25px;
   display: flex;
}

#kaneelrollentekst1 h1 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#kaneelrollentekst1 p {
   width: 250px;
   flex-grow: 1;
   padding: 10px;
   font-size: 12pt;
   font-family: georgia;
   color: #33040d;
   background-color: #f4dddb;
}

#kaneelrollen {
   display: flex;
   flex-grow: 1;
}

#kaneelrollen h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#kaneelrollen table {
   width: 200px;
   background-color: #ffffff;
}


#kaneelrollentekst1 {
   display: flex;
   flex-direction: column;
}

#tiramisu {
   display: flex;
   flex-grow: 1; 
}

#tiramisutekst1 h1 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#tiramisutekst1 h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#tiramisu table {
   width: 200px;
   background-color: #ffffff;
}

#tiramisutekst1 p {
   width: 250px;
   flex-grow: 1;
   padding: 10px;
   font-size: 12pt;
   font-family: georgia;
   color: #33040d;
   background-color: #f4dddb;
}

#tiramisutekst1 {
   display: flex;
   flex-direction: column;
}


#cremebrulee {
   display: flex;
   flex-grow: 1;
}

#cremebruleetekst1 h1 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#cremebruleetekst1 h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: center;
   margin-bottom: 10px;
   font-family: georgia;
   color: #1f001f;
   background-color: #f4dddb;
   padding-top: 18px;
}

#cremebrulee table {
   width: 200px;
   background-color: #ffffff;
}

#cremebruleetekst1 p {
   width: 250px;
   flex-grow: 1;
   padding: 10px;
   font-size: 12pt;
   font-family: georgia;
   color: #33040d;
   background-color: #f4dddb;
}

#cremebruleetekst1 {
   display: flex;
   flex-direction: column;
}

#stappenplan ol {
   line-height: 2;
   color: #33040d;
   font-family: georgia;
   font-size: 12pt;
}

#stappenplan h2 {
   font-family: georgia;
   font-size: 16pt;
   color: #1f001f;
   text-align: left;
   margin-top: 10px;
   font-family: georgia;
   color: #1f001f;
}

#stappenplan p {
   color: #33040d;
   font-family: georgia;
   font-size: 12pt;
}

#stappenplan {
   margin-left: 35px;
}

#webshop {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 300px;
}

#eten {
   display: flex;
   margin-bottom: 20px;
   width: 256px;
   flex-direction: column;
}

#eten img {
   height: 200px;
   width: 256px;
   border: 2px solid;
   border-color: #ace4b0;
   margin-right: 30px;
   margin-left: 30px;
   margin-top: 30px;
}

#eten p {
   color: #33040d;
   font-size: 12pt;
   font-family: georgia;
   background-color: #f4dddb;
   text-align: center;
}

#eten h2 {
   color: #1f001f;
   font-size: 16pt;
   font-family: georgia;
   text-align: center;
}